KUBELET_EXTRA_ARGS= --root-dir={{ kubelet.data_dir }} --kube-reserved=cpu={{ kubelet.kubectl_cpu_reserved }},memory={{ kubelet.kubectl_memory_reserved }},ephemeral-storage={{ kubelet.ephemeral_storage }} --system-reserved=cpu={{ kubelet.system_cpu_reserved }},memory={{ kubelet.system_memory_reserved }} --eviction-hard=memory.available<{{ kubelet.memory_available }},nodefs.available<{{ kubelet.nodefs_available }}