{
  "signing": {
    "default": {
      "expiry": "{{ cert.expiry }}h"
    },
    "profiles": {
      "{{ cert.profile }}": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "{{ cert.expiry }}h"
      }
    }
  }
}
